## Importar librerías

In [39]:
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# Este comando es requerido para que las visualizaciones se muestren en este notebook
%matplotlib inline

In [40]:
pd.set_option('display.max_columns', None) # Número máximo de columnas a mostrar
pd.set_option('display.max_rows', 50) # Numero máximo de filas a mostar

## 1. Carga de los datos

In [41]:
df = pd.read_csv('./data/Datos_BiciAlpes.csv', encoding='ISO-8859-1', sep=";")

In [42]:
# Dimensiones del dataframe
df.shape

(5338, 15)

In [43]:
df.sample(5) # Muestra aleatoria

,Time,Number_of_Casualties,Day_of_Week,Road_Type,Speed_limit,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Urban_or_Rural_Area,Vehicle_Type,Did_Police_Officer_Attend_Scene_of_Accident,Junction_Detail,Number_of_Vehicles,Accident_Severity,Unnamed: 14
78,Tarde,1,Día laboral,6,30.0,1,1,2,1,bike,1,3,1,3,NaN
296,Mañana,1,Día laboral,6,30.0,1,1,1,1,bike,1,3,1,3,NaN
1283,Mañana,1,Fin de semana,6,30.0,1,1,1,2,bike,1,0,1,1,NaN
1544,Noche,1,Día laboral,6,60.0,5,1,1,2,bike,1,0,1,3,NaN
867,Tarde,1,Día laboral,6,60.0,1,2,2,2,bike,2,0,1,3,NaN

## 2. Descripción de los datos

In [44]:
# Impresión del tipo de dato asociado a cada columna
df.dtypes

Time                                            object
Number_of_Casualties                             int64
Day_of_Week                                     object
Road_Type                                        int64
Speed_limit                                    float64
Light_Conditions                                 int64
Weather_Conditions                               int64
Road_Surface_Conditions                          int64
Urban_or_Rural_Area                              int64
Vehicle_Type                                    object
Did_Police_Officer_Attend_Scene_of_Accident      int64
Junction_Detail                                  int64
Number_of_Vehicles                               int64
Accident_Severity                                int64
Unnamed: 14                                    float64
dtype: object

In [45]:
# Se calculan las estadísticas principales de las columnas numéricas
df.describe()

,Number_of_Casualties,Road_Type,Speed_limit,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,Junction_Detail,Number_of_Vehicles,Accident_Severity,Unnamed: 14
count,5338.000000,5338.000000,5338.000000,5338.000000,5338.000000,5338.000000,5338.000000,5338.000000,5338.000000,5338.000000,5338.000000,0.0
mean,1.118022,5.587486,33.522855,1.712814,1.532222,1.191083,1.243162,1.247096,1.898464,1.001124,2.630761,NaN
std,0.330694,1.416573,10.206576,1.456428,1.760695,0.590522,0.429032,0.453389,2.456249,0.033511,0.518214,NaN
min,1.000000,1.000000,15.000000,1.000000,1.000000,-1.000000,1.000000,-1.000000,-1.000000,1.000000,1.000000,NaN
25%,1.000000,6.000000,30.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,2.000000,NaN
50%,1.000000,6.000000,30.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,3.000000,NaN
75%,1.000000,6.000000,30.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,1.000000,3.000000,NaN
max,4.000000,9.000000,70.000000,7.000000,9.000000,5.000000,2.000000,3.000000,9.000000,2.000000,3.000000,NaN

#### 2.2 Datos categóricos

In [46]:
# Tiempo
df['Time'].value_counts(dropna = False, normalize = True)

Tarde        0.406707
Mañana       0.315474
Noche        0.276695
Madrugada    0.001124
Name: Time, dtype: float64

In [47]:
# Dia de la semana
df['Day_of_Week'].value_counts(dropna = False, normalize = True)

Día laboral      0.717872
Fin de semana    0.278569
NaN              0.003559
Name: Day_of_Week, dtype: float64

In [48]:
# Tipo de vehículo
df['Vehicle_Type'].value_counts(dropna = False, normalize = True)

bike    1.0
Name: Vehicle_Type, dtype: float64